{% extends "base.html" %}
{% block content %}

<h1>Hello World!</h1>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Culpa amet facilis atque eius labore fugiat repellat cupiditate beatae nostrum facere quos eos, vitae similique enim dolore laboriosam at aliquid ipsam? Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro suscipit blanditiis aperiam. Quisquam quia, eum corrupti cupiditate est libero, ipsum harum officia, facilis aspernatur praesentium numquam id possimus commodi dolores? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Delectus natus quam iste dolorum officiis debitis nam cum, tempore temporibus molestias voluptates provident recusandae aliquid velit dolorem id aspernatur ad quidem. Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor sapiente eligendi quam officiis quaerat, rem commodi. Nemo deleniti ea in sit quo excepturi voluptate. Labore consectetur velit repellat quia nemo!</p>
{% endblock %}
